
.hero__title {
    max-width: 360px;
    margin: 0 auto;
    margin-bottom: 30px;
    color: var(--wite-color);
    font-size: 26px;
    line-height: 1,62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media (min-width:1200px) {
        max-width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }


}

.hero.section {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fon-mobile.jpg);
    background-color: var(--background-secondary-color);
    padding-top: 118px;
    padding-bottom: 118px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/fon-mobile@2x.jpg);
    }

    @media (max-width:479px) {
        width: 480px;
    }
}

@media (min-width:768px) {
    .hero.section {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fon-tablet.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
        .hero.section {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fon-tablet@2x.jpg);
        }
    }
}

@media (min-width:1200px) {
    .hero.section {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fon-desktop.jpg);
        padding-top: 200px;
        padding-bottom: 200px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
        .hero.section {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fon-desktop@2x.jpg);
        }
    }
}