.logo {
    color: var(--accent-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    text-decoration: none;

    @media (min-width: 768px) {
            margin-right: 87px;
        }
    

    @media (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.19;
        margin-right: 93px;
    }
}

.logo--black {
    color: var(--logo-svg-color);
}

.logo--white {
    color: var(--wite-color);
}

.footer__logo {
    display: block;
    margin-bottom: 20px;

    @media (min-width: 768px) {
        margin-right: 0;
    }

}